<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        <title>Pflanzenwerkstatt</title>
        <style>
        html, body {
            margin: 0;
            height: 100%;
            /*
            background-color: #08c916;
            background-image: url('images/plants.jpg');
            background-position: center;
            background-repeat: no-repeat;
            overflow-y: hidden;*/
        }
        </style>
    </head>
    <body>

        {{>navbar}}
        {{{mainErrorMessage}}}
        <div class="container">
            {{{body}}}
        </div>

        {{>footer}}

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>
