<div class="jumbotron">
  <h1>Do it yourself!</h1>
  <p class="lead">Hier kannst du alle Materialien runterladen um deine eigenen Anlagen zu Bauen.</p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Hydroponik-Anlage bauen</h2>
    <p><a class="btn btn-primary" href="/download?file=hydroponik" role="button">Download</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Wurmkiste bauen</h2>
    <p><a class="btn btn-primary" href="/download?file=wurmkiste" role="button">Download</a></p>
  </div>
  <div class="col-lg-4">
      <h2>Experimente für zuhause</h2>
    <p><a class="btn btn-primary" href="/download?file=experimentezuhause" role="button">Download</a></p>
  </div>
</div>
