<div class="jumbotron">
  <h1>Wissenswertes</h1>
  <p class="lead">Alles was du zum Thema Hydroponik wissen musst.</p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-12">
    <h2>Was ist Hydroponik?</h2>
    <p>
        Etwas für das wir noch keinen Text bekommen haben
    </p>
  </div>
  <div class="col-lg-12">
    <h2>Was ist Kreislaufwirtschaft</h2>
    <p>
        Etwas für das wir noch keinen Text bekommen haben
    </p>
  </div>
  <div class="col-lg-12">
    <h2>Wie funktionieren Wurmkisten</h2>
    <p>
        Wir würden es euch gerne sagen, wenn wir den Text dafür erhalten würden
    </p>
  </div>
</div>
